.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 64px;
    border-radius: 0 0 15px 15px ;
    background: skyblue;
}

.wrapp {
    display: flex;
    column-gap: 55px;
    margin-top: 15px;
}

.btnTo {
    text-decoration: none;
    color: black;
}